/backend/app/.gitignore
/backend/app/.env
/backend/app/.env.dev
# Cache and logs (Symfony2)
/backend/app/cache/*
/backend/app/logs/*
!backend/app/cache/.gitkeep
!backend/app/logs/.gitkeep

# Cache, session files and logs (Symfony3)
/backend/app/var/cache/*
/backend/app/var/logs/*
/backend/app/var/sessions/*
!backend/app/var/cache/.gitkeep
!backend/app/var/logs/.gitkeep
!backend/app/var/sessions/.gitkeep

# Logs (Symfony4)
/backend/app/var/log/*
!backend/app/var/log/.gitkeep

# Parameters
/backend/app/config/parameters.yml
/backend/app/config/parameters.ini

# Managed by Composer
/backend/app/bin/*
!backend/app/bin/composer
!backend/app/bin/console
!backend/app/bin/symfony_requirements
/backend/app/vendor/

###> backend-cs-fixer/shim ###
/backend/app/.php-cs-fixer.dist.php
/backend/app/.php-cs-fixer.cache
###< backend-cs-fixer/shim ###

/backend/php/errors/php-error.log

/backend/nginx/logs/access.log
/backend/nginx/logs/error.log
