version: "3.9"

services:
  php:
    build:
      context: .
      dockerfile: ./backend/Dockerfile
    volumes:
      - ./backend/app:/srv/app:rw
    working_dir: /srv/app

  nginx:
    image: nginx:1.27-alpine
    ports:
      - "8000:80"
    volumes:
      - ./backend/app:/srv/app:ro
      - ./backend/nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - php
